@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
}

.animate-floating {
  animation: float 8s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-18px);
    opacity: 0.9;
  }
}

.animate-slide {
  animation: slide-up 0.8s ease forwards;
  opacity: 0;
  transform: translateY(16px);
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


